.ui-page{
	background: #00687d;
	font-family:"Roboto";
}

ul.mainMenu{
	text-align: center;
	list-style: none;
	margin:0px;
	padding:0px;
	
}

ul.mainMenu li{
	margin-top:50px;
	margin-bottom:50px;
}


.queuesHeader img{
	float:left;
	display:block;
	margin-bottom:10px;
}

.queuesHeader p{
	float:left;
	font-size:48px;
	color:white;
	width:200px;
	/*padding-left:20px;*/
	display:block;
}

ul.queuesList {
	margin-top:15px;
}

ul.queuesList, ul.queuesList li {
	clear:left;
	list-style:none;
	width:100%;
	background:#42a881;
	margin:0px;
	padding:0px;
	float:left;
}

ul.queuesList li {
	padding-top:5px;
	padding-bottom:5px;
	border-top: 2px solid #00687d;
}


ul.queuesList li div.left{
	float:left;
	width:350px;
	color:white;
	text-decoration: none;
	padding:5px;
}
ul.queuesList li div.right{
	float:right;
	font-size:72px;
	color:#65d97d;
	padding:5px;
}
.left span{
	font-size:18px;
	color:#00687d;
}

.left span span.big{
	font-size:24px;
	font-weight: bold;
	
}

.left span.titol{
	color:white;
	width:100%;
	font-size:30px;
}

a{
	text-decoration: none;
}

.top{
	/*background: url(../img/ticketBg.png) no-repeat;*/
	/*width:100%;*/
	margin-top:0px;
	padding-top:0px;
	
}

.top p.titol{
	/*width:100%;
	padding-top: 150px;*/
	text-align:center;
	color:white;
	font-size:48px;
	margin:0px;
	padding:0px;
	
}

.top .turnNumber{
	/*width:100%;*/
	text-align: center;
	font-size:156px;
	color:#1f8784;
	font-weight:bold;
	/*padding-top:75px;*/
	background: url(../img/ticketBg.png) no-repeat;
	display:block;
	margin-top:0px;
	padding-top:50px;
	padding-bottom:120px;
	padding-left:20px;
}